.container {
  flex: 1;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .title {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.chapterCell {
  color: #666;
  font-size: 12px;
}
